In [1]:
def add(x):
    return x + 200

In [2]:
### make a function
### it takes y input 
### it returns input /50
def div(y):
    return y / 50

In [4]:
div(10)

0.2

In [5]:
### make a simple function to find slope y = m*x + c
def slope(x):
    return 10*x + 5

In [8]:
slope(7)

75

In [9]:
### make a function to find power if p = w/t
def fun(w,t):
    return w / t

In [10]:
fun(2,8)

0.25

In [11]:
## make a function to find work done w = f * d
def word(f,d):
    return f * d

In [12]:
word (1000,1)

1000

In [16]:
### make a function to fin dtarque t = r * f* sin(theta)
import math
def torqu(r,f,a):
    return r * f * math.sin(a)

In [18]:
torqu (6,6,90)

32.18387988962008

In [30]:
### find the force of attraction 
###F = ( G ∗ m1 ∗ m2 )/( d**2 )
###G = 6.6743 * 10**(-11)
def banana1 (m1, m2, d):
    return 6.6743 * 10**(-11) * m1 * m2 / d ** 2

In [31]:
banana1 (5.972 * 10**24 , 6.39 * 10**23 , 2.25*10**9)
print("this is force between eath and marks")

this is force between eath and marks

In [32]:
print( banana1 (5.972 * 10**24 , 490 , 1))
print("this is force between angela and aerch")

1.9530870604e+17
this is force between angela and aerch

In [ ]:
### can you find the force between eart and jupyter

### earth and sun
### moon and andy
### how much foce is marks putting on andy
### how can andy fly in air ... what if andy weight become 10 and if andy go in space then what will be the force of earth

In [33]:
print( banana1 (5.972 * 10**24 , 490 , 1))

1.9530870604e+17

In [35]:
### define function which takes mass and velcicty as input and momentum as output
###I = m * vars
def aba (m,v):
    return m * v

In [36]:
aba(3,4)

12

In [37]:
#### make a function that will take a list and it will return tuple and set of taht list
def haha (x):
    return tuple (x),set (x)

In [39]:
x = ["banana1","banana2","banana3","banana4","banana5","banana6","banana7"]
haha(x)

(('banana1', 'banana2', 'banana3', 'banana4', 'banana5', 'banana6', 'banana7'),
 {'banana1', 'banana2', 'banana3', 'banana4', 'banana5', 'banana6', 'banana7'})

In [42]:

## use for loop and show all marks and... if mark less  than 50 then fail else pass
def result(marks):
    for mark in marks:
        print(mark)
        if mark <= 50:
            print ("FAIL!")
        elif mark > 100:
            print ("NOT REAL")
        else:
            print ("(NOT)FAIL")
numbers = [10,50,55,49,80,55,3388,55]
result(numbers)

10
FAIL!
50
FAIL!
55
(NOT)FAIL
49
FAIL!
80
(NOT)FAIL
55
(NOT)FAIL
3388
NOT REAL
55
(NOT)FAIL

In [44]:
result([4,82,2,3,3])

4
FAIL!
82
(NOT)FAIL
2
FAIL!
3
FAIL!
3
FAIL!

In [46]:
### if age is more than 60 then you are senior citizena and you are retired
def egg(age):
    for age in ages:
        print(age)
        if age > 60:
            print ("retired")
        elif age < 18:
            print ("in school")
        else:
            print ("working")

In [48]:
ages = [10,20,30,55,45,36,1,23,12,45,78,34,100]
egg(ages)

10
in school
20
working
30
working
55
working
45
working
36
working
1
in school
23
working
12
in school
45
working
78
retired
34
working
100
retired

In [49]:

egg([2,44,555,2233,3323333])

10
in school
20
working
30
working
55
working
45
working
36
working
1
in school
23
working
12
in school
45
working
78
retired
34
working
100
retired

In [50]:
egg ([2,3,345,4577,457,6867,65,2,34,23,54,7,69,8,12,43,3,7,1,86,67,])

10
in school
20
working
30
working
55
working
45
working
36
working
1
in school
23
working
12
in school
45
working
78
retired
34
working
100
retired

In [51]:

def gradesystem(data):

    for mark in marks:
    
        if mark <= 50 and mark > 0:
            print ("FAIL!")
        elif mark > 80 and mark <= 100:
            print ("GREAT!") 
        elif mark <= 80 and mark > 50:
            print ("PASS!")
        elif mark > 100 and mark < 0:
            print ("Not Real!")
            
#calll gradesystem with abc
gradesystem([1,2,23,234,-1,98,52])

FAIL!
FAIL!
PASS!
FAIL!
PASS!
PASS!
FAIL!
PASS!

In [52]:
### lambda function

In [53]:
def caca(x,y):
    return x + y

In [54]:
caca2 = lambda x,y : x+y

In [55]:
caca (1,2)

3

In [56]:
caca2(1,2)

3

In [57]:
yaya = lambda a,b,c : a*b*c

In [58]:
yaya(1,2,4)

8

In [5]:


def func_of_eens(x):
    empty = []
    for each in x:
        if each%2 == 0:
            if each > 0:
                empty.append(each)
    print("length is",len(empty))
    print("sum of even and positive numbers is",sum(empty))

In [6]:
x = [-2,2,3,4,12,-13,13,-14,4,36,-2355,34,43,2,32,3232,343,243,6,6,-435,-13,69,0,6,79,-0,-79]
func_of_eens(x)

length is 12
sum of even and positive numbers is 3376

In [7]:
y = [43,34,346,34,34,3543,34,64,34,356432,34]
func_of_eens(y)

length is 9
sum of even and positive numbers is 357046

In [8]:
func_of_eens(y)

length is 9
sum of even and positive numbers is 357046

In [5]:
## make a function if i pass it a list of string so it return me a list of integers
# e.g., x = ["1", "2", "3", "4", "5"] should return [1, 2, 3, 4, 5]

def aaa(x):
    y = []
    for each in x:
        y.append(int(each))
    return y

In [6]:
x = ['1','2','3','4','5','6','7','8','9']
aaa(x)

1
2
3
4
5
6
7
8
9

[]

In [ ]:
y = []
y.append(100)
print(y)

In [16]:
def doctor_andy_condition_teller (temps):
    if type(temps)== list:
        for temp in temps:
            if temp > 100:
                print("Oh no, Fever!")
            elif temp < 95:
                print("Oh no, cold!")
            else:
                print("Normal")
    if type(temps) == dict:
        for person in temps:
            if temps[person] > 100:
                print(person,"Oh no, Fever!")
            elif temps[person] < 95:
                print(person, "Oh no, cold!")
            else:
                print(person, "Normal")

In [17]:
temps = [100,102,102.5,101.3]
doctor_andy_condition_teller(temps)

Normal
Oh no, Fever!
Oh no, Fever!
Oh no, Fever!

In [18]:
new_ata = [99,100,100.5,101,102,55,90,100]
doctor_andy_condition_teller(new_ata)

Normal
Normal
Oh no, Fever!
Oh no, Fever!
Oh no, Fever!
Oh no, cold!
Oh no, cold!
Normal

In [20]:
x = {"angela":100, "andy":100, "hoto":105,"coldo":91}
doctor_andy_condition_teller(x)

angela Normal
andy Normal
hoto Oh no, Fever!
coldo Oh no, cold!

In [24]:
## make a function in which if i pass the diameter then it should return circumprence
import math
def cir(r):
    return r * math.pi * 2

In [25]:
cir(2)

12.566370614359172