In [5]:
x = "Angela"
y = "Mr. Andy"
z = "Miao"
a = "Gu"
print ("My name is " + x, "and my brother's name is " + y)
print(f"my name is {x} and my brother's name is {y}")
print("my name is {} and my brother's name is {}".format(x,y))

My name is Angela and my brother's name is Mr. Andy
my name is Angela and my brother's name is Mr. Andy
my name is Angela and my brother's name is Mr. Andy

In [7]:
print (f"my name is {x, z} and my brother's name is {y, z}")

my name is ('Angela', 'Miao') and my brother's name is ('Mr. Andy', 'Miao')

In [9]:
w = "www.instagram.com"
y = "Mr.Andy123"
z = "Mr.Andy123_Sister"

In [13]:
print(f"{w}/{y}")
print(f"{w}/{z}")

www.instagram.com/Mr.Andy123
www.instagram.com/Mr.Andy123_Sister

In [18]:
_w  = " abvc ghvgv gvgvx gyvgzvh gvgvhgv eeumairali@gmail.com shdashdsajh I_love_Mr.Andy"

#### function of string
_w.split()

In [21]:
lw = _w.split(" ")
lw

['',
 'abvc',
 'ghvgv',
 'gvgvx',
 'gyvgzvh',
 'gvgvhgv',
 'eeumairali@gmail.com',
 'shdashdsajh',
 'I_love_Mr.Andy']

In [27]:
#from lw list can you print eeumairali and ilovestuff using indexing
lw = _w.split(" ")
lw[6]
lw[-1]
print (f" the useful information is: {lw[6]} and {lw[-1]}")

 the useful information is: eeumairali@gmail.com and I_love_Mr.Andy

### our machine is giving us DNA sequnnce in pattern ABCSDS like this
### but it is not clearned data...
### data always appears as
#### """ xyz sadasd sadasdare sadf ABCDAAAABBBBBB sdasdasdasda
#### """ xyz sadasd sdsds sadf ABCDAAAABBBBBB sdasdasdasda
#### """ xyz sadasd sadadasdssdare sadf ABCDAAAABBBBBB sdasdasdasda

In [32]:
x = "xyz sadasd sadasdare sadf ABCDAAAABBBBBB sdasdasdasda"
y = "xyz sadasd sdsds sadf ABCDAAAABBBBBB sdasdasdasda"
z = "xyz sadasd sadadasdssdare sadf ABSDSAD sdasdasdasda"
### collect useful inforomation from x y and z 
lx = x.split(" ")
ly = y.split(" ")
lz = z.split(" ")
print (lx[-2])
print (ly[-2])
print (lz[-2])

ABCDAAAABBBBBB
ABCDAAAABBBBBB
ABSDSAD

In [51]:
# one take blood test
# second take tempreture test

x = " hello this report is being genrated and your results:IMPROVED keep on eating healthy"
y = "hi your temperature reported is generated and your termperature:103 so eat medicine"

# find results good or bad
# from raw file find how much temperature 
lx = x.split(" ")
ly = y.split(" ")
print(lx[-5])
print(ly[-4])
print(f"{lx[-5]} results are test one and {ly[-4]} results are test two")


print(f"i tested my patient and i got the results. his/her blood test shows {lx[-5]} and i tested his/her temperature and it was {ly[-4]}")

results:IMPROVED
termperature:103
results:IMPROVED results are test one and termperature:103 results are test two
i tested my patient and i got the results. his/her blood test shows results:IMPROVED and i tested his/her temperature and it was termperature:103

In [2]:
x  = ["student 1","student 2","student 3","student 4","student 5"]
y = [77,78,55,100,192]
print(f"I tested every student, and here is their score: {x[0]} got {y[0]}, and {x[1]} got {y[1]}, and {x[2]} got {y[2]}, and {x[3]} got {y[3]}, and {x[4]} got {y[4]}")

I tested every student, and here is their score: student 1 got 77, and student 2 got 78, and student 3 got 55, and student 4 got 100, and student 5 got 192

In [15]:
### list is a data structure to store a lot of information
x = [2, 1.28, "Mr Andy", True]
print(type  (     x[0]      ),type ( x[1] ),type ( x[2] ),type ( x[3]   ) )
"""i have stored
 multiple data 
 types into single 
 data structures"""

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [7]:
print ("I have a problem with the food here because i can't find it")

I have a problem with the food here because i can't find it

In [16]:
fru=["apple", "leachee","banana"]
col=["yellow","green"]
l=[]
l.extend(fru)
l.extend(col)
print(l)

['apple', 'leachee', 'banana', 'yellow', 'green']

In [19]:
fru=["apple", "leachee","banana"]
col=["yellow","green"]

new=[fru,col]
print(new)

[['apple', 'leachee', 'banana'], ['yellow', 'green']]

In [24]:
new[1][1]= "Andy is Mr Andy"
print(new)

[['apple', 'leachee', 'banana'], ['yellow', 'red']]

In [28]:
x = [1,2,["apple","Mr.Andy",100]]

print(x[2][1])

Mr.Andy

In [1]:
y = [[5,2,3,["apple mango Mrandy haha"]]]
y=y[0][3][0].split(" ")
for each in range(10000):
    print(y[2]*10000)

In [ ]:
#### list of strings
banana = ["a","b",c,d,e,f,g]
a = banana
b = notbanana

In [1]:
## write a sentence in string and then make a list of words from that. (hint split)
b ="Andy is 100 times smarter than einstein"
y = b.split ( )
print (y)

['Andy', 'is', '100', 'times', 'smarter', 'than', 'einstein']

In [4]:
print (y[0], y[-1])

Andy einstein

In [14]:
### from string b repalce Andy with Agnela and then repalce Einstein with Newton
b ="Andy is 100 times smarter than einstein"
b = b.replace("Andy","Angela")
b = b.replace("einstein","newton")
b

'Angela is 100 times smarter than newton'

In [19]:
c = "Andy is Master of python and dont ever make a mistake to complete with Dr. Engr. Scientist Andy"
c = c.replace ("Andy","Angela")
c = c.replace ("Master", "best")
c = c.replace ("of", "at")
c

'Angela is best at python and dont ever make a mistake to complete with Dr. Engr. Scientist Angela'

In [21]:
d = "andy is working on making robots"
# angela is working on making pie
d = d.replace ("andy","Angela")
d = d.replace ("robots","pie")
print (d)

Angela is working on making pie

In [24]:
x = "andy is a boy and angela is a girl."
print (x.upper())

ANDY IS A BOY AND ANGELA IS A GIRL.

In [31]:
y = "apple mango orange banana"
## make set out of it,,,
y = y.split()
print (set(y))

{'mango', 'banana', 'orange', 'apple'}

In [33]:
o = "helLo its me"
print (o.title())

Hello Its Me

In [34]:
x = "abcdefghijklmnopqrstuvwxyz"
## apply far loop on x
for each in x:
    print (each)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [35]:
x = "andy and angela"
for each in x:
    print (each)

a
n
d
y

a
n
d

a
n
g
e
l
a

In [37]:
x = ["apple", "banana", "kiwi"]
for each in x:
    print (each)
    for each2 in each:
        print(each2)

apple
a
p
p
l
e
banana
b
a
n
a
n
a
kiwi
k
i
w
i

In [38]:
x =  "angela and andy"
## please make it upper case

print (x.upper())

ANGELA AND ANDY

In [39]:
x = " ANDY AND ANGELA"
print (x.lower())

 andy and angela

In [40]:
x = " ANDY AND ANGELA"
print (x.title())

 Andy And Angela

In [44]:
x = "apple mango orange and banana"
## make a list of it
# delete and from list 
## covert list to tuple
## convert tuple to set
x = x.split()
x

['apple', 'mango', 'orange', 'and', 'banana']

In [45]:
del (x[-2])
x

['apple', 'mango', 'orange', 'banana']

In [48]:
x = tuple(x)
x

('apple', 'mango', 'orange', 'banana')

In [50]:
x = set(x)
x

{'apple', 'banana', 'mango', 'orange'}

In [1]:
nested_list = [[1, 2, [3, 4, ['hello']], 5], [6, 7, 8, 9, ['hello', 'world']], [10, [11, 'hello', 12]]]
print ("world")

world

In [9]:
print (nested_list[1][4][1])

world

In [12]:
x = ["10","20","30"]
y = []
y.append(  int(x[0] ) )
y.append( int(x[1] ) )
y.append( int(x[2] ) )
print(y)

[10, 20, 30]

In [14]:
x = ["10","20","30","40","50","60","70","80","90","100"]
y = []
for each in x:
    y.append(int(each))
print (y)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [18]:
x = "andy is a good boy and he is hardworking."
x = x.replace("andy","angela")
x = x.replace("boy","girl")
x = x.replace("he","she")
x

'angela is a good girl and she is hardworking.'

1