In [8]:
## make a list of number and find the second largest number
abc = [4,343,242,342,3423,5343252,35235,24,23,5435,423,64,643]
sorted(abc)
print(sorted(abc) [-2])

35235

In [11]:
# import ranom module and create a randomnumber variable from 1 to 20
import random 
random.randint(1,20)

3

In [17]:
banana = {"mango":"yellow","orange":"orange","strawberry":"red","blueberry":"blue","grape":"purple","melon":"green"}
banana2 = {"mango":"green","orange":"light_orange","strawberry":"white-red","blueberry":"blue2","grape":"greeen","melon":"green"}


# import pandas as pd and write pd.DataFrame(d) to change that dictionary to data frame
import pandas as pd
pd.DataFrame([banana,banana2])

    mango        orange strawberry blueberry   grape  melon
0  yellow        orange        red      blue  purple  green
1   green  light_orange  white-red     blue2  greeen  green

In [ ]:
# tomorrow