In [18]:
data = open ('banana.txt')
f = []
p = []
data = data.read()
for i in data.split("\n"):
    j = i.split('=')
    f.append(j[0].strip())
    p.append(j[-1].strip())

In [19]:
f

['banana',
 'apple',
 'kiwi',
 'cherry',
 'watermelon',
 'strawberry',
 'mango',
 'orange']

In [20]:
ang = open("file.txt")
ang = ang.read()
ang = ang.split('\n')
ang

['1 beryllium 4 9.012',
 '2 magnesium 12 24.305',
 '3 calcium 20 20.078',
 '4 strontium 38 87.62',
 '5 barium 56 137.327',
 '6 radium 88 226']

In [21]:
banana = []
for i in ang:
    print(i.split()[0])
    banana.append(i.split()[0])
banana

1
2
3
4
5
6

['1', '2', '3', '4', '5', '6']

In [22]:
kiwi = []
for i in ang:
    print (i)
    kiwi.append(i.split()[1])
kiwi

1 beryllium 4 9.012
2 magnesium 12 24.305
3 calcium 20 20.078
4 strontium 38 87.62
5 barium 56 137.327
6 radium 88 226

['beryllium', 'magnesium', 'calcium', 'strontium', 'barium', 'radium']

In [27]:
import pandas as pd
data = pd.read_csv("file.txt",delimiter=' ',header=None)
data

   0          1   2        3
0  1  beryllium   4    9.012
1  2  magnesium  12   24.305
2  3    calcium  20   20.078
3  4  strontium  38   87.620
4  5     barium  56  137.327
5  6     radium  88  226.000

In [32]:
data.iloc[:,3]

0      9.012
1     24.305
2     20.078
3     87.620
4    137.327
5    226.000
Name: 3, dtype: float64