please make a ductionary of color and fruits

In [1]:
banana = {"banana":"yellow","strawberry":"red","orange":"orange","melom":"green","blueberry":"blue","grape":"purple","peach":"peach"}

In [7]:
# make a set of 5 numebr less tahn 10
# make a set of 8 number lesson 10


x = {1,6,3,9,0}
y = {1,3,2,6,4,7,8,4}
x.union(y)

{0, 1, 2, 3, 4, 6, 7, 8, 9}

In [8]:
x.intersection(y)

{1, 3, 6}

In [10]:
banana = [74,65,553,76457,6,324,5,55656,7345,36,6,576,65,4876,87]

In [11]:
min(banana)

5

In [22]:
i = 100000
for j in banana:
    if i > j:
        i = j
pikachu = i
print(i)

5

In [23]:
i = 100000
for j in banana:
    if i > j and j != pikachu:
        i = j
print("this is second smallest number",i)

this is second smallest number 6

In [26]:
import numpy as np
np.inf >(2*np.inf)

False

In [47]:
# make a function which will give me smallest 2 numbers
import numpy as np
def happy(y):
    j = np.inf
    all_min = []

    for angela in range(3):
        for i in y:
            if i < j and (not i in all_min):
                j = i
        all_min.append(j)
    print('minimum number is',all_min)

In [48]:
happy([1535613415,53246414556,125334352145,74545132545,1641252345,345612414,57824557,23625235,35345466,6341354645])

minimum number is [23625235, 23625235, 23625235]

In [117]:
import time
tt =[]
for ee in range(1000):
    t1 = time.perf_counter()
    for i in range(100000):
        x = ("hellow")
    t2 = time.perf_counter()
    tt.append (t2-t1)
print("time was",sum(tt)/len(tt))

time was 0.004598891581939824

In [119]:
bananana = "ATTGCCGT"
j = "A"
k = "T"
l = "G"
m = "C"
st= ""
for i in bananana:
    if i == "A":
        i = k
    elif i == "T":
        i = j
    elif i == "G":
        i = m
    else:
        i = l
    if i in "ACTG":
        st += i
st

'TAACGGCA'

# very GOOD

In [120]:
def Angela(x):
    j = "A"
    k = "T"
    l = "G"
    m = "C"
    st= ""
    for i in x:
        if i == "A":
            i = k
        elif i == "T":
            i = j
        elif i == "G":
            i = m
        else:
            i = l
        st += i
    return st

In [121]:
Angela("ATGCAATTTTCTACTAGCCCGATCGTCAGTCAGTCAGGCACACGCATGAGCAGCATGGTACTCTGTAGTCAGTCAGCTGACTAGTGTCGTAGATGATCGATGCATGCTGCTCGTCGTGTGZTCGTZTZGCZTGCTCGZTCZGCAGAAAGCATCGACGACTCGACACCTATCGAAAT")

'TACGTTAAAAGATGATCGGGCTAGCAGTCAGTCAGTCCGTGTGCGTACTCGTCGTACCATGAGACATCAGTCAGTCGACTGATCACAGCATCTACTAGCTACGTACGACGAGCAGCACACGAGCAGAGCGGACGAGCGAGGCGTCTTTCGTAGCTGCTGAGCTGTGGATAGCTTTA'

In [122]:
x= ['green', 'red', 'blue','red', 'green','blue']
# arrange it like red red green green bluee bluee

In [126]:
ban = []
bana = []
banan = []
for i in x:
    if i == "red":
       ban.append(i)
    elif i == "green":
        bana.append(i)
    else:
        banan.append(i)
print(ban+bana+banan)

['red', 'red', 'green', 'green', 'blue', 'blue']