In [1]:
name = ["Ariana","Iryna","Aiera","Andena","Aryna"]
for i in name:
    print("my favorite name is", i)

my favorite name is Ariana
my favorite name is Iryna
my favorite name is Aiera
my favorite name is Andena
my favorite name is Aryna

In [2]:
temp = [13,24,26,53,72,31,25,34,56,87,83,95] # temp in c
# print tempr in c is 13 and it is .... in f
for f in temp:
    print("the temp in c is:",f,"the temp in f is:",f * (9/5) + 32)

the temp in c is: 13 the temp in f is: 55.400000000000006
the temp in c is: 24 the temp in f is: 75.2
the temp in c is: 26 the temp in f is: 78.80000000000001
the temp in c is: 53 the temp in f is: 127.4
the temp in c is: 72 the temp in f is: 161.6
the temp in c is: 31 the temp in f is: 87.80000000000001
the temp in c is: 25 the temp in f is: 77.0
the temp in c is: 34 the temp in f is: 93.2
the temp in c is: 56 the temp in f is: 132.8
the temp in c is: 87 the temp in f is: 188.6
the temp in c is: 83 the temp in f is: 181.4
the temp in c is: 95 the temp in f is: 203.0

In [4]:
text = ""
while text != "quit":
    text = input("Please enter a chemical formula (or 'quit' to exit): ")
    if text == "quit":
        print("…exiting program")
    elif text == "H2O":
        print("Water")
    elif text == "NH3":
        print("Ammonia")
    elif text == "CH4":
        print("Methane")
    elif text == "CO2":
        print("Carbodioxide")
    else:
        print("Unknown compound")

Carbodioxide
…exiting program

Question:

Write a Python program in five steps:

1. Create a list of numbers.
2. Filter the list to include only even numbers.
3. Square each even number in the filtered list.
4. Calculate the sum of the squared numbers.
5. Print the final sum.
5. Here's an example to illustrate the steps:

Num = []

In [8]:
num = [1,3,2,5,6,8,9,4,7,0]
even = []
square = []
for i in num:
    if i % 2 == 0:
        even.append(i)
        square.append(i**2)
sum(square)

120

In [ ]:
number_and_weigh = ["Calcium", "Magnesium", "Beryllium", "Radium", "Barium", "Strontium"]

Write a for loop to create a new list called number_and_weight that contains
the elements of alkaline_earth_metals in the same order but not nested.

list(range(32,49))

In [9]:
for i in range(32,49):
    print(i)

32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

In [10]:
list(range(32,49))

[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]

In [14]:
for i in range (10):
    print ("T" * i)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
TTTTTTTT
TTTTTTTTT

In [21]:

n=10
for i in range (n):
    print (" "*(n-i)+"T" * i)

         T
        TT
       TTT
      TTTT
     TTTTT
    TTTTTT
   TTTTTTT
  TTTTTTTT
 TTTTTTTTT

In [3]:

n=10
L = "/"
for i in range (n):
    print (" "*(n-i)+L * i+L * i+" "*(n-i))
for i in range (n,0,-1):
    print (" "*(n-i)+L * i+L * i+" "*(n-i))
i = 0
while (i < n):
    print (" "*(n-i)+L * i+L * i+" "*(n-i))
    i = i + 1
i = n

while (i > 0):
    print (" "*(n-i)+L * i+L * i+" "*(n-i))
    i = i - 1

         //
        ////
       //////
      ////////
     //////////
    ////////////
   //////////////
  ////////////////
 //////////////////
////////////////////
 //////////////////
  ////////////////
   //////////////
    ////////////
     //////////
      ////////
       //////
        ////
         //

         //
        ////
       //////
      ////////
     //////////
    ////////////
   //////////////
  ////////////////
 //////////////////
////////////////////
 //////////////////
  ////////////////
   //////////////
    ////////////
     //////////
      ////////
       //////
        ////
         //

In [8]:
rat_w1 = 20
rat_w2 = 30
rate1 = 1.065
rate2 = 1.06
year = 1
while (rat_w2 >= rat_w1*1.25):
    rat_w2 = rat_w2* rate2
    rat_w1 = rat_w1* rate1
    year = year + 1
print(f"the year when rate1 is 25 percent bigger than rate 2 is {year}, rat 1 weight is {rat_w1}, rat 2 weight is {rat_w2}")

the year when rate1 is 25 percent bigger than rate 2 is 40, rat 1 weight is 233.16571894185705, rat 2 weight is 291.1052246356395

Variables rat_1_weight and rat_2_weight contain the weights of two rats at the
beginning of an experiment. Variables rat_1_rate and rat_2_rate are the rate
that the rats’ weights are expected to increase each week (for example, 4
percent per week).

a. Using a while loop, calculate how many weeks it would take for the
weight of the first rat to become 25 percent heavier than it was
originally.

b. Assume that the two rats have the same initial weight, but rat 1 is
expected to gain weight at a faster rate than rat 2. Using a while loop,
calculate how many weeks it would take for rat 1 to be 10 percent
heavier than rat 2.

In [21]:
AngelaH = 162
AndyH = 130 #p

# let say andy do not stop getting taller
# also angela

# andy isgettting taller with rate 5 percent
# angel ais getting taller with rate of 4.9 percent

# write a while loop
# when will andy become taller than angela which year
year = 1
while AngelaH > AndyH:
    AngelaH = AngelaH*2.01
    AndyH = AndyH* 2.05
    year = year + 1
print(year,AngelaH,AndyH)

13 704478.4354183115 716126.4011346684