In [1]:
x = {1, 2, 3, 4, 5222}
print (type (x))

<class 'set'>

In [6]:
x = (1, 2, 3, 4, 5222)
print (type (x))
y = set(x)
y

<class 'tuple'>

{1, 2, 3, 4, 5222}

In [3]:
x = []
p=0
for each in range(6):
    p+=1
    x.insert(p,each)

In [4]:
x

[0, 1, 2, 3, 4, 5]

In [13]:
### somehow you have to change a list of fruits to set of fruits
#### make a set of fruits and change it to tuple as you can
x = ["apple", "orange", "banana", "Kiwi", "blueberry", "grape" ]
print (type(x))
print (x[0])

<class 'list'>
apple

In [23]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print (x[-2], x[-1])
print(x[1:])
print(x[:3])
print(x[::2])
print(x[::3])
print(x[::-1])

melon mango
['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry']
['apple', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'mango']
['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

##### slicing from index 3 to index 7

In [34]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# show last 2 elements
print(x[1::2])
## show the first 3
print (x[0:3])

['banana', 'orange', 'melon']
['apple', 'banana', 'cherry']

In [37]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
x[0:3] = ["fruit1","fruit2","fruit3"]
print(x)

['fruit1', 'fruit2', 'fruit3', 'orange', 'kiwi', 'melon', 'mango']

In [43]:
#### HOMEWORK to change kiwi melon and mango with fruits3l, fruitst2l fruitk
### change every second element of x with "remove"
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
x[0:3] = ["fruit1","fruit2","fruit3"]
x[-3:] = ["fruits3l", "fruits2l", "fruitl"]
print (x)

['fruit1', 'fruit2', 'fruit3', 'orange', 'fruits3l', 'fruits2l', 'fruitl']

In [45]:
### to remove somethiong
del (x[0:3])

In [46]:
print(x)

['orange', 'fruits3l', 'fruits2l', 'fruitl']

In [47]:
del (x[-3:])
print (x)

['orange']

In [48]:
x.remove("orange")

In [49]:
print (x)

[]

In [51]:
x.append("apple")

In [52]:
print(x)

['apple']

In [55]:
x.insert(0,"orange")

In [56]:
print(x)

['orange', 'orange', 'apple']

In [57]:
del x [0]

In [59]:
print (x)

['orange', 'apple']

In [63]:
x = ("MrAndy", "MrUmair", "MrAngela")
print(x)
print(type(x))
print(x[0:2])

('MrAndy', 'MrUmair', 'MrAngela')
<class 'tuple'>
('MrAndy', 'MrUmair')

In [64]:
x[0] = "MrSuperAndy"

TypeError: 'tuple' object does not support item assignment

In [66]:
x = list(x)
print (x)

['MrAndy', 'MrUmair', 'MrAngela']

In [68]:
x[0] = "MrSuperAndy"
print (x)

['MrSuperAndy', 'MrUmair', 'MrAngela']

In [69]:
x = tuple(x)
print (x)

('MrSuperAndy', 'MrUmair', 'MrAngela')

In [70]:
x = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

y = {7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}

In [72]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}

In [74]:
x.intersection(y)

{7, 8, 9, 10}

In [75]:
x = {1,2,2,2,4,4,4,4,4,5,5,5}
print (x)

{1, 2, 4, 5}

In [78]:
x = ["apple","apple","orange","orange","orange","orange","mango"]
x = set(x)
print (x)
x = list(x)
print (x)

{'apple', 'orange', 'mango'}
['apple', 'orange', 'mango']

In [80]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [81]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [82]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [83]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [90]:
###HOMEWORK
### make a list of fruits and find unique vlaues then add new fruit to it and then remove the first elemen
x = ["apple", "orange", "apple","banana", "banana", "mango", "peach", "peach","peach","peach","peach","peach","peach","peach","peach","peach","peach","peach","peach","peach","peach", "melon", "watermelon", "grape"]
x = set(x)
print (x)

{'melon', 'apple', 'banana', 'orange', 'mango', 'watermelon', 'grape', 'peach'}

In [91]:
x = ["apple", "orange", "banana"]
print (x[0])

apple

In [95]:
x = {0:"apple",2: "orange", 100:"banana"}
print(x[100])

banana

In [109]:
x = {7:"apple","flower":"orange", 0.2:"banana"}
x.get("flower","not found")

'orange'

In [111]:
### make a dictionary of 3 colors and fruits
x = {"watermelon" : "Red", "orange" : "orange", "banana": "yellow"}
x.get("watermelon")

'Red'

In [119]:
### contry codes: Japan: +81, Hong Kong: +85, USA: +1
x = {"USA" : "+1", "Japan" : "+81", "Hong Kong" : "+85"}
del x["USA"]
print (x)
x["USA"] = "Pakistan"
x["China"] = "+16"
print (x)

{'Japan': '+81', 'Hong Kong': '+85'}
{'Japan': '+81', 'Hong Kong': '+85', 'USA': 'Pakistan', 'China': '+16'}

In [126]:
10 % 3

1

In [125]:
10//3

3

In [139]:
2000000000000000000000000 < 1999999999999999999999

False

In [143]:
if False:
    print("if is working now") 
else:
    print("else is working")

else is working

In [147]:
x = 200
y = 1

x <y

False

In [148]:
if x<y:
    print("x is small")
else:
    print("y is small")

y is small

In [150]:
marks = 51
## if mark 
mark = 20
if mark > 50:
    print ("You passed")
if mark < 50: 
    print ("You are a failure")

You are a failure

In [151]:
# make a dictionary of vegetable and shape
# if temperater of room is more than 30 then turn on fan

In [160]:
x = {"round" : "potato" , "pointy" : "carrot" }
del (x["round"])
print(x)

{'pointy': 'carrot'}

In [155]:
temperature = float(input("what is your room temperature:"))
if temperature > 30:
    print("turn on fan")
if temperature < 30:
    print("turn off fan")

turn off fan

In [3]:
# make a dictionary of color andd fruits
## make list of colors from dictionary using d.keys()
## make a list of fruits from dictionary using d.values()
d = {"apple":"yum", "orange":"yuck", "banana":"best"}
print (list(d.keys()))
print(list(d.values()))

['apple', 'orange', 'banana']
['yum', 'yuck', 'best']

In [ ]:
### revise as i can take your test from topic 1 and topic 3

In [2]:
##Print value 1
nested_dict = {
    'key1': 'value1',
    'key2': {
        'nested_key1': ['hello', 'world'],
        'nested_key2': {
            'nested_list': ['hello'],
            'nested_key3': 'value3'
        }
    },
    'key3': ['hello', 'hello', 'hello']
}

In [8]:
print(nested_dict['key2']['nested_key2']['nested_key3'])

value3

In [14]:
aba = {"apple":"red", "orange":"orange","banana":"yellow"}
print (aba["apple"])

red

In [19]:
x = {"apple":["mango","orange"]}
# print orange from x
print (x["apple"][1])

orange

In [25]:
y = {"angela" : ["week2","week3"],
    "andy" : [5,6,4,3,"1million"]}
print(type(y))

print (y["andy"][-1])

<class 'dict'>
1million

In [28]:
x = [{"apple":"red"}   ,  {"orange":"orange" , "mango":"yellow"}    ]
print (x[1]["mango"])

yellow

In [36]:
Apple = {
    'Tokyo': 7.9,
    'Osaka': 6.5,
    'Yokohama': 7.2,
    'Nagoya': 6.8,
    'Sapporo': 6.4,
    'Fukuoka': 7.1,
    'Kobe': 7.5,
    'Kyoto': 6.2,
    'Hiroshima': 6.6,
    'Sendai': 7.3,
    'Tokyo2': 7.9,
    'Osaka2': 6.5,
    'Yokohama2': 7.2,
    'Nagoya2': 6.8,
    'Sapporo2': 6.4,
    'Fukuoka2': 7.1,
    'Kobe2': 7.5,
    'Kyoto2': 6.2,
    'Hiroshima2': 6.6,
    'Sendai2': 7.3,
    'Tokyo3': 7.9,
    'Osaka3': 6.5,
    'Yokohama3': 7.2,
    'Nagoya3': 6.8,
    'Sapporo3': 6.4,
    'Fukuoka3': 7.1,
    'Kobe3': 7.5,
    'Kyoto3': 6.2,
    'Hiroshima3': 6.6,
    'Sendai3': 7.3
}
for each in Apple:
    if Apple[each] > 7:
        print(each)

Tokyo
Yokohama
Fukuoka
Kobe
Sendai
Tokyo2
Yokohama2
Fukuoka2
Kobe2
Sendai2
Tokyo3
Yokohama3
Fukuoka3
Kobe3
Sendai3

In [40]:
## tell tokyo rating and Fukuoka ratings 
for a,b in Apple.items():
    if "Tokyo" in a:
        print(b,a)
    if "Fukuoka" in a:
        print(b,a)

7.9 Tokyo
7.1 Fukuoka
7.9 Tokyo2
7.1 Fukuoka2
7.9 Tokyo3
7.1 Fukuoka3