In [2]:
x= "hello"
print(x)

hello

In [3]:
banana= ["banana","apple","cramberry"]
banana2= {"banana":"yellow","apple":"green","cramberry":"red"}

In [4]:
## if tem i smore than 50 then blood will come from andy nose 
temp = 10000000
if temp <= 50:
    print ("No blood")
if temp > 50:
    print ("Blood!!!")

Blood!!!

In [13]:
## write a for loop to print counting from 1 to 10 
for i in range(11):
    print(i)
    # only odd numbers
for i in range(11):
    if i % 2 != 0:
        print(i)

0
1
2
3
4
5
6
7
8
9
10
1
3
5
7
9

In [14]:
# write counting with while loop
x = 0
while (x<10):
    x = x +1
    print(x)

1
2
3
4
5
6
7
8
9
10

In [15]:
# write a function to add two numbers in python
def peach(x,y):
    print(x+y)

In [16]:
peach(12,42)

54

In [27]:
### open a text file and print it

b = open("/Users/angelasthingy/Desktop/preply-course-computer-science/Data/angela.txt")
data = b.read()
data = data.replace("\n"," ")
data.split(" ")

['store',
 'apple',
 'orange',
 'banana',
 '1',
 '10',
 '8',
 '7',
 '2',
 '12',
 '5',
 '9',
 '3',
 '10',
 '22',
 '11',
 '4',
 '22',
 '33',
 '22',
 '5',
 '22',
 '33',
 '44']

In [32]:
x = [1,32,312,32,3,23,13,1,3,12,312,3,23,2]
# can you sort this list?
x.sort(reverse=True)
print(x)

[312, 312, 32, 32, 23, 23, 13, 12, 3, 3, 3, 2, 1, 1]

In [34]:
## numpy 
#make a 3x3 matrix using numpy
import numpy as np
p = np.array(range(4,13))
p.reshape(3,3)

array([[ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [39]:
#Create a program that converts temperatures between Fahrenheit, Celsius, and Kelvin.


# F -> Celsius
F = 30
ans = (F - 32) * 5/9 
print(f"{F} F is {round(ans,2)} in C")

# convert Fahrenheit to Kelvin








# convert Celsius to Fahrenheit






## convert Celsius to kelvin









## convert Kelvin to Celsius








### convert Kelvin to Fahrenheit

30 F is -1.11 in C