In [6]:
Andy = {"first_name":"Andy","last_name":"Gu", "age":"8","city":"Tokyo"}
for i in Andy:
    print (i,"<--- key ,_, value ---->",Andy[i])

first_name <--- key ,_, value ----> Andy
last_name <--- key ,_, value ----> Gu
age <--- key ,_, value ----> 8
city <--- key ,_, value ----> Tokyo

In [9]:
Angela = {"first_name":"Angela","last_name":"Gu", "age":"13","city":"Tokyo"}

In [8]:
Mrumair = {"first_name":"Umair","last_name":"Ali", "age":"29","city":"Gujrad"}

In [10]:
people = [Andy,Angela,Mrumair]

In [11]:
#6-8
lowlow = {"animal":"hamster","ownername":"angela and andy"}

In [17]:
awang = {"animal":"cat","ownername":"angela"}

In [15]:
happy = {"animal":"cat","ownername":"andy"}

In [21]:
animal = [lowlow,awang,happy]
for i in animal:
    for j in i:
        print(j,i[j])

animal hamster
ownername angela and andy
animal cat
ownername angela
animal cat
ownername andy

In [22]:
favorite_places = {"Andy":"disneyland","Angela":"mall","mom":"home"}

In [23]:
# for loop
# andy fav place is di
for a in favorite_places:
    print(a,favorite_places[a])

Andy disneyland
Angela mall
mom home

In [26]:
#6-11
cities = {"tokyo":"japan","tokyo2":"13.96 million","tokyo3":"it is the most populated place","Gujrat1":"pakistan","Gujrat2":"70,400,153","Gujrat3":"there are no useful jobs (except for a lucky guy named Mr. Umair)","Córdoba1":"spain","Córdoba2":"325,708","Córdoba3":"At one time, Cordoba was the world's largest city counting about one million residents"}
for c in cities:
    print(c,cities[c])

tokyo japan
tokyo2 13.96 million
tokyo3 it is the most populated place
Gujrat1 pakistan
Gujrat2 70,400,153
Gujrat3 there are no useful jobs (except for a lucky guy named Mr. Umair)
Córdoba1 spain
Córdoba2 325,708
Córdoba3 At one time, Cordoba was the world's largest city counting about one million residents

In [27]:
cities = [
    {"tokyo":"japan",
     "population":"13.96 million",
     "fact":"it is the most populated place"}
    
    ,{"Gujrat":"pakistan",
      "population":"70,400,153",
      "fact":"there are no useful jobs (except for a lucky guy named Mr. Umair)"},
      
    {"Córdoba1":"spain",
     "population":"325,708",
     "fact":"At one time, Cordoba was the world's largest city counting about one million residents"}]

In [33]:
for s in cities:
    print(s)
    for b in s:
        print(b,"-->",s[b])

{'tokyo': 'japan', 'population': '13.96 million', 'fact': 'it is the most populated place'}
tokyo --> japan
population --> 13.96 million
fact --> it is the most populated place
{'Gujrat': 'pakistan', 'population': '70,400,153', 'fact': 'there are no useful jobs (except for a lucky guy named Mr. Umair)'}
Gujrat --> pakistan
population --> 70,400,153
fact --> there are no useful jobs (except for a lucky guy named Mr. Umair)
{'Córdoba1': 'spain', 'population': '325,708', 'fact': "At one time, Cordoba was the world's largest city counting about one million residents"}
Córdoba1 --> spain
population --> 325,708
fact --> At one time, Cordoba was the world's largest city counting about one million residents