In [9]:
class Cat():
    def __init__(self,name,color,age,situation):
        self.name = name
        self.color = color
        self.age = age
        self.situation = situation

    def sit(self):
        print(self.name, "is sitting")
        
    
    def roll_over(self):
        print(self.name, "is rolling over")

In [3]:
c1 = Cat("awang",'black',"3 years")
c2 = Cat("Happy","white-gray-black","1")

In [10]:
c1.sit()

awang is sitting

In [11]:
c2.roll_over()

Happy is rolled over

In [12]:
c2.sit()

Happy is sitting

In [13]:
c1.roll_over()

awang is rolled over

In [15]:
class Resturant():
    def __init__(self,name,cuisine_type):
        self.name = name
        self.cuisine_type = cuisine_type

    def describe_resturant(self):
        print(self.name,self.cuisine_type)

In [20]:
r1 = Resturant("banana", "chinese")
r2 = Resturant("cherry", "pakistani")
r3 = Resturant("watermelon","japanese")

In [18]:
r2.describe_resturant()

cherry pakistani

In [24]:
#9-3
class User():
    def __init__ (self,first_name,last_name):
        self.first_name = first_name
        self.last_name = last_name

    def user(self):
        print(self.first_name, self.last_name)

In [25]:
# create instance
u1 = User("Angela","Gu")
u1.user()

Angela Gu

In [26]:
# make one more instance for another person
u2 = User("Mr","Andy")
u2.user()

Mr Andy

In [39]:
# please make a class of Animal
# it should name and legs and position 

#make a function which will print
# anme and position of animal



class Animal():
    def __init__(self, name, legs, position):
        self.name = name
        self.legs = legs
        self.position = position
    def animal_situation(self):
        print(self.name,"is", self.position)

    def set_sitation(self,situa):
        self.position = situa

In [35]:
a1 = Animal("cat","1000","sitting")
a1.animal_situation()

cat is sitting

In [36]:
a1.set_sitation("sleeping")

In [38]:
a1.animal_situation()

cat is sleeping

In [41]:
# can you set cat sitation to running
a1.set_sitation("running")
a1.animal_situation()

cat is running

In [22]:
## andy is on aeroplane for 12 months
distance_each_month = [1000,1500,1200,1800,1900,1300,1400,1500,1400,1550,1340,1432]
# find average ditance he travelled yearly
print("average =",sum(distance_each_month)/12)
# maximum distance travelled
print("maximum distance travelled =", max(distance_each_month))
# minimum distance travelled
print("minimum distance travelled =", min(distance_each_month))
# second highest distance travelled
print("second highest distance travelled =", sorted(distance_each_month)[-2])
months = ['jan', 'feb', 'mar','apr','may', 'jun', 'jul', 'aug', 'sep','oct', 'nov', 'dec']
# print ditacne travelled january 1000 distan 2000
for ind in range(12):
    print("distence travelled in month:",months[ind],"is",distance_each_month[ind],"kilometers")
    print("fare in month:",months[ind],"is",distance_each_month[ind],"usd")

average = 1443.5
maximum distance travelled = 1900
minimum distance travelled = 1000
second highest distance travelled = 1800
distence travelled in month: jan is 1000 kilometers
fare in month: jan is 1000 usd
distence travelled in month: feb is 1500 kilometers
fare in month: feb is 1500 usd
distence travelled in month: mar is 1200 kilometers
fare in month: mar is 1200 usd
distence travelled in month: apr is 1800 kilometers
fare in month: apr is 1800 usd
distence travelled in month: may is 1900 kilometers
fare in month: may is 1900 usd
distence travelled in month: jun is 1300 kilometers
fare in month: jun is 1300 usd
distence travelled in month: jul is 1400 kilometers
fare in month: jul is 1400 usd
distence travelled in month: aug is 1500 kilometers
fare in month: aug is 1500 usd
distence travelled in month: sep is 1400 kilometers
fare in month: sep is 1400 usd
distence travelled in month: oct is 1550 kilometers
fare in month: oct is 1550 usd
distence travelled in month: nov is 1340 kilometers
fare in month: nov is 1340 usd
distence travelled in month: dec is 1432 kilometers
fare in month: dec is 1432 usd

In [24]:
# if fare of flight is 1usd per kilometer then whaat will be the fare each month
for ind in range(12):
    print("fare in month:",months[ind],"is",distance_each_month[ind] * 1.7,"usd")

fare in month: jan is 1700.0 usd
fare in month: feb is 2550.0 usd
fare in month: mar is 2040.0 usd
fare in month: apr is 3060.0 usd
fare in month: may is 3230.0 usd
fare in month: jun is 2210.0 usd
fare in month: jul is 2380.0 usd
fare in month: aug is 2550.0 usd
fare in month: sep is 2380.0 usd
fare in month: oct is 2635.0 usd
fare in month: nov is 2278.0 usd
fare in month: dec is 2434.4 usd

In [31]:
# can you find total distance tranvelled and totally money he spent on travelling
print("total distance =",sum(distance_each_month))
print("total money =",sum(distance_each_month) * 1.7)

total distance = 17322
total money = 29447.399999999998

In [43]:
## next year there was fluctuation and 
## frirst three month prices were 1.7 usd per kilometer , next three month prices were 1.9 usd per kilomter and for remainging 6 months prices were 2.2 usd per kilometer
new = distance_each_month[0:3]
total = 0
for each in new:
    total= total+ each* 1.7
print("for first three onths",total)

new2 = distance_each_month[3:6]
total2 = 0
for each in new2:
    total2= total2+ each* 1.9
print("for first three onths",total2)

new3 = distance_each_month[6:12]
total3 = 0
for each in new3:
    total3= total3+ each* 2.2
print("for first three onths",total3)

print(total+total2+total3)

for first three onths 6290.0
for first three onths 9500.0
for first three onths 18968.4
34758.4

In [50]:
totol = 0
for i in range(12):
    if i < 3 :
        totol = totol + distance_each_month[i]* 1.7
    elif i >= 3 and i < 6:
        totol = totol + distance_each_month[i] * 1.9
    else:
        totol = totol + distance_each_month[i] * 2.2
print(totol)

34758.4