In [18]:
# import numpy as np

In [19]:
import numpy as np

In [20]:
# make a 10,4 matrix of numpy with random values
# np.random.randint(1,100, (10,4))

In [26]:
data = np.random.randint(1,100, (7,4))

In [27]:
# cast this data to pd.DataFrame

In [28]:
import pandas  as pd

In [29]:
data = pd.DataFrame(data,columns = ["arfa","banana","andy","angela"],index = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"])
data

           arfa  banana  andy  angela
Sunday       96       5    90      11
Monday       69      62    26      14
Tuesday      64      64    45      50
Wednesday    11      17    69      47
Thursday     36      66    88      29
Friday       82      22    24       7
Saturday     28      44    26      40

In [31]:
data.to_excel("banana.xlsx")