In [34]:
import random 
x =["pink","purple","green","orange","yellow"]
random.choice(x)

'purple'

In [36]:
possibilties = []
for i in range (1,7):
    for j in range (1,7):
        possibilties.append((1,j)) 
possibilties

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6)]

In [60]:
# player1 will choice pasibili
# players wil choose another possi

#if sum(player1) == sum(player2):
 #   draw

p1 = random.choice(possibilties)
p2 = random.choice(possibilties)
# umair player 1
# angel player 2
if sum(p1) == sum(p2):
    print("draw")
elif sum(p1) > sum(p2):
    print("player 1 wins")
else:
    print("player 2 wins")

draw

In [63]:
# smantha has 120 usd she spends 35 on book and then 20 percent of money she gives to her friend
# how much money she left?
m = 120
m = m - 35
m* 0.8

68.0

In [69]:
# if 36 is 3/4 of some number what is number?
banana1 = 36
banana2 = banana1 * (4/3)
banana2

48.0

In [71]:
# if number is 40 percent os something is 66 then fine number
66/0.4

165.0

In [74]:
165*0.40

66.0

In [75]:
2 6 12 20 
30

SyntaxError: invalid syntax (1472376013.py, line 1)

In [76]:
# make 2 cup of coffee and ratio of milk and coffe is 95:5 # 95units mand 5 units
# if we have to make 10 cup of coffee how much milk we need #
# 25 units of milk
95/2*10

475.0

In [78]:
# if 10 people are working in buildign and it will take them 20 days to complete
# if we cindease people to 14 then how many days it will take t
20*0.7142857142857143

14.285714285714286

In [81]:
# if 8 people copleting proejct in 24 days how many days it will take 12 people to complete project
24-6

18

In [80]:
0.75*24

18.0

In [83]:
# if 10 students are complete work in 50 days
# 40 students will complete in how any days

0.25*40

10.0

In [84]:
# if 10 student are complete work in 50 days
# how many people will take 15 days to complete
500/15

33.333333333333336

In [1]:
# a person is 10 m away from building
# his angel awith building is 45 degrees
# what is heught of building?


# sum of numbers between 25 to 35
n = 35 - 25 + 1
s = n/2*(25+35)

In [2]:
s

330.0

In [4]:
#find the sum between 100 to 110
n = 110 - 100 + 1
s = n/2*(210)
s

1155.0

Sarah and Mark decided to invest their money in a business venture. Mark invested $20 initially, and Sarah, being twice as financially ambitious, invested a certain amount, x, which is twice the amount Mark invested. However, the business didn't go as planned, and they both incurred a loss of 30% on their investments.

If the final amount of money Mark had after the loss was $14, what was the original amount of money Sarah invested, and what is her current financial situation after the loss?

In [8]:
20*0.7

14.0

In [10]:
40*0.7

28.0

In [11]:
# angela is saving money to buy a laptop (andy can do it by making a crying face) 
# if angela has 80 usd and she receieve 5 usd daily from parents how any weeks she needst ot buy a laptop of worth 1000

In [14]:
((1000-80)/5)/30

6.133333333333334

In [15]:
# there is a rectagular garden
# lenth is 3 times its width
# if wdith is 20 m
# what will be the Area of garden

a = 60 *20
a

1200

In [16]:
# a former has 90 sheeps and 60 percent dies how much left 
90*0.4

36.0

In [17]:
# 90

In [20]:
# what is 17 percent of 50
17 * 50 / 100

8.5

In [21]:
#what is 13 percent of 75
# what is 75 precent of 13

In [22]:
286 - 682

-396

In [23]:
-396 -693

-1089

In [24]:
126 - 621

-495

In [26]:
-495 - 594

-1089

In [38]:
# if box has red,green and blue balls
# red total are 5
# blue total are 4
# green are 6


# what is probability of that i will choose 1 red 1 greeena dn 1 blue ball
1/5*1/4*1/6
4/15*5/15*6/15

0.03555555555555555

In [28]:
total = 0
chance = 0
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            total = total + 1
            if i == j and j ==k:
                chance = chance + 1

In [31]:
total , chance
4/120

0.03333333333333333

In [40]:
import matplotlib as plt
plt.plot(1,1)

ModuleNotFoundError: No module named 'matplotlib'