In [1]:
0 or 0

0

In [2]:
0 or 1

1

In [3]:
1 or 0

1

In [4]:
1 or 1

1

In [5]:
0 and 0

0

In [6]:
0 and 1

0

In [7]:
1 and 0

0

In [8]:
1 and 1

1

In [10]:
1 and 0

0

In [17]:
temp = 30.9999999999999999999999
if temp >30 :
    print("turn on fan")
else:
    print("turn off fan")

turn off fan

In [20]:
x = 10
print(id(x))
y = 200
print(id(y))

140680177576528
140680177771152

In [21]:
print ("hello world")

hello world

In [25]:
print (id("hello world"))
print(id("hello world"))

140679652094704
140679652095664

In [23]:
x = "hello Andy"
print(id(x))

140679652096816

In [24]:
print(id(x))

140679652096816

In [26]:
bin(1000)

'0b1111101000'

In [27]:
bin(8785427877485774874587854378)

'0b110011010010110101'

In [35]:
hex(100)

'0x64'

In [3]:
print("as a python i do not have any will , i can do whatever you want from me")

as a python i do not have any will , i can do whatever you want from me

In [5]:
name = input("please let me know your name: ")
if name == "angela":
    print("Hello, Angela!")
else:
    print("Sorry, " + name + " i will talk to only angela")

Hello, Angela!

In [22]:
def recogn(name):
    if name == "angela":
        print("Hello, Angela!")
    else:
        print("Sorry " + name + "! I will talk to only angela")

In [23]:
recogn("andy")

Sorry andy! I will talk to only angela

In [24]:
recogn("umair")

Sorry umair! I will talk to only angela

In [25]:
recogn("angela")

Hello, Angela!

In [26]:
recogn("andy")

Sorry andy! I will talk to only angela

In [28]:
id(recogn)

140685829456224

In [29]:
def force(m,v,t):
    a = v/t
    f = m*a
    return f
force(10,2,2)

In [48]:
force(5,10,5)
force(66,33,22)

SyntaxError: invalid syntax (35308313.py, line 2)

In [32]:
force(100,20202,2892819)

0.6983499486141372

In [35]:
def Ein(m,c):
    E=m*c**2
    return E

In [37]:
Ein(100,289)
Ein(2891829,7439822981)

160065528623892627346804269

In [38]:
def Ein2(m):
    E = m* (299792458)**2
    return E

In [46]:
mList = [1,100,22,44,50]
for m in mList:
    print(m,Ein2(m))

NameError: name 'o44' is not defined

In [51]:
print ("hello, Umair!")

hello, Umair!

In [50]:
print ("hello", "Umair")

hello Umair

In [52]:
print ("2" + "3")

23

In [58]:
print ("Andy" , "is smart")

Andy is smart

In [61]:
x = 3
y = 2 * 5 * (2-x)+ (7-2*x+5)
y

-4

In [62]:
def Calculate_F(C):
    F=9/5*C+32
    return F

In [67]:
Calculate_F ()

50.0

In [70]:
angela_is_smart = True
print (angela_is_smart)

True

In [73]:
abc_xyz =10

In [79]:
print ("angela is smart", "andy is smart","Umair is smart","cats are cool")

angela is smart andy is smart Umair is smart cats are cool

In [83]:
x=100
x=x+200
x

300

In [84]:
x = 0
x = x + 1
print(x)
x = x + 1
print(x)
x = x + 1
print(x)
x = x + 1

1
2
3

In [95]:
name= input ("What is your name?")
print ("hello", name, "wow, you are the smart guy")

hello Andy wow, you are the smart guy

In [96]:
name = "umair"
print("hello",name)

hello umair

In [107]:
marks = input ("What are your marks?") # chang eit to input



marks = float(marks)
if marks >100:
    print("maximum scores are 100, sorry don't lie")
if marks >=90 and marks <100:
    print("Great scores")
if marks < 90 and marks >= 80:
    print("Good scores")
if marks < 80 and marks >= 70:
    print("not bad scores")
if marks < 70 and marks >= 60:
    print("ok scores")
if marks < 60 :
    print("Try again")

Try again

In [108]:
x+y=10
2*x+2*y=30

SyntaxError: cannot assign to operator (2965107897.py, line 1)

In [109]:
#x + y = 10
#y = "10 - x"

# 2x +y = 10
#y = ("10 - 2x"

#10-2x = 10-x
x=10-10

In [110]:
y = 10 - x
y

10

In [111]:
x,y,z = 10,20,30
print(z)

30

In [112]:
x = 10
y = x

In [155]:
x = 10
y = 20

z = y
y = x
x = z

print(x)
print(y)

20
10

In [121]:
marks = input ("What are your marks?") # chang eit to input



marks = float(marks)
if marks >100:
    print("maximum scores are 100, sorry don't lie")
if marks >=90 and marks <100:
    print("Great scores")
if marks < 90 and marks >= 80:
    print("Good scores")
if marks < 80 and marks >= 70:
    print("not bad scores")
if marks < 70 and marks >= 60:
    print("ok scores")
if marks < 60 :
    print("Try again")

not bad scores

In [130]:
### 
x = 0.000000000000000000000000000000000000000000000000000000000000000000001
y = 0
if x < y:
    print ("x is less than y")
if y < x:
    print ("x is greater than y")

if x == y:
    print ("x and y are equal")

x is greater than y

In [132]:
print ("1")
print ("2")
print ("3")
print ("4")
print ("5")

1
2
3
4
5

In [150]:
x = 0
print(x)
x = x + 1
print(x)
x = x + 1
print(x)
x = x + 1
print(x)

0
1
2
3

In [158]:
x = 1
print(x)
x += 1
print(x)
x += 1
print(x)
x += 1
print(x)

1
2
3
4

In [160]:
list(range(1,5))

[1, 2, 3, 4]

In [161]:
for i in range(1,5):
    print(i)

1
2
3
4

In [163]:
x = iter([1,2,3,4])
print(next(x))

1

In [164]:
print(next(x))

2

In [165]:
print(next(x))

3

In [166]:
print(next(x))

4

In [167]:
next(x)

StopIteration:

In [169]:
for i in range(1,5):
    print(i)

1
2
3
4

In [173]:
for i in range(90, 101):
    print(i)

90
91
92
93
94
95
96
97
98
99
100

In [177]:
x = 0.001
for i in range(10):
    x = 3.9 * x * (1-x)
    print(x) # continue

0.0038961
0.015135589578681
0.05813536367646822
0.2135470083500247
0.6549842659416387
0.8813215215110725
0.40791619920667477
0.9419302371626752
0.2133208953772324
0.6544788547934842

In [178]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [179]:
import antigravity

In [181]:
tem1_score = int(input("please enter the first score"))
tem2_score = int(input("please enter the second score"))


if tem1_score > tem2_score:
    print("team 1 wins")
if tem2_score > tem1_score:
    print("team 2 wins")
if tem1_score == tem2_score:
    print("tie")

team 1 wins

In [185]:
m = 10
e = m*299792458**2
e

898755178736817640

In [187]:
M = [10,30,45,33,22,66,44,22,53,53,123,53,2344,63,43,23,235]
for m in M:
    e = m*299792458**2
    print(m, e)

10 898755178736817640
30 2696265536210452920
45 4044398304315679380
33 2965892089831498212
22 1977261393220998808
66 5931784179662996424
44 3954522786441997616
22 1977261393220998808
53 4763402447305133492
53 4763402447305133492
123 11054688698462856972
53 4763402447305133492
2344 210668213895910054816
63 5662157626041951132
43 3864647268568315852
23 2067136911094680572
235 21120746700315214540

In [189]:
m = 10
a = 20
f = m*a
f

200

In [193]:
## same body pushes force multiple times
A = [5,10,20,40,50,100]
for a in A:
    f = m * a
    print("with accelration of",a , "the force is equals to", f)

with accelration of 5 the force is equals to 50
with accelration of 10 the force is equals to 100
with accelration of 20 the force is equals to 200
with accelration of 40 the force is equals to 400
with accelration of 50 the force is equals to 500
with accelration of 100 the force is equals to 1000

In [196]:
for i in range(5):
    print(i * i)

0
1
4
9
16

In [197]:
for d in [3, 1, 4, 1, 5]:
    print (d, end=" ")

3 1 4 1 5

In [200]:
for i in range(4):
    print ("hello")

hello
hello
hello
hello

In [202]:
for i in range(5):
    print (i, 2**i)

0 1
1 2
2 4
3 8
4 16

In [213]:
## write a for loop from 1 to 10 but do not print from 3 to 6
start = 1
ends = 30
sf = 10
st = 25
for i in range (start, ends):
    if i > start and i < sf :
        print(i)
    if i < ends and i > st :
        print (i)

2
3
4
5
6
7
8
9
26
27
28
29

In [229]:
# we need to make a parking software and we hire angela for. 
# if a card is parked for 1 hour so rent is 5 yuan
# if car is parked for more than 5 hour then rent is 4 yuan per hour
## 6 hours... 5*5 + 4*1
# 12 5*5 and 7*4

hours =6346873658726428642648762786287346762876657468736487647436760827643583476508734268743605847
if hours <= 5:
    print("that will be 5 yuan per hour",5*hours, "yuan")
if hours > 5:
    print("that will be 4 yuan per hour plus 25 yuan", 25+(hours-5)*4, "yuan")

that will be 4 yuan per hour plus 25 yuan 25387494634905714570595051145149387051506629874945950589747043310574333906034937074974423393 yuan

In [237]:
x = "Andy"
y = "Angela"
print (x + y)

AndyAngela

In [246]:
100//8

12

In [ ]:
x =20
y = 10
z = x//y
print("if you muitiply y with z then you will get x")
print("if you divide x with y then you will get z but complete division exluicded remainding")

In [258]:
## ax^2 +bx +c 

## x^2 +3x +2
a = 1
b = -6
c = 9

roots = (b**2 - 4*a*c)**(1/2)
x1 = (-b + roots) / 2 * a
x2 = (-b - roots) / 2 * a
print("roots are" ,x1,x2)

roots are 3.0 3.0

In [263]:
import math
math.sin(0)

0.0

In [266]:
import math
math.pi

3.141592653589793

In [273]:
print(10000**20000000)

KeyboardInterrupt:

In [277]:
x = input("enter value:")
print("value is ",float(x))

value is  10.5552131231

In [278]:
int("10")

10

In [282]:
int(float("10.5"))

10

In [283]:
x = 15.3213123213123213531423
round(x,3)

15.321

In [292]:
y = 200088999888000.20222221121212131312121232123212123212321232232123212
round(y,15)

200088999888000.2

In [296]:
import math
round(math.pi,100)

3.141592653589793

In [298]:
x = 1
str(x)

'1'

In [300]:
complex(10,2)

(10+2j)

In [301]:
import math
print(type(math.pi))

<class 'float'>

In [302]:
x = 10
print(type(x))

<class 'int'>

In [303]:
y = 20.5
print(type(y))

<class 'float'>

In [304]:
y = 5/2
print(type(y))

<class 'float'>

In [308]:
r = 2
Volume = 4 / 3 * math.pi * r
print (Volume)

8.377580409572781

In [311]:
d = 7 #inces
r = d / 2
A = 4 * math.pi * r
print (A)

43.982297150257104

In [317]:
H = 1.0079
C = 12.011
O = 15.9994
print (O * 2 + C)
print(O*2)

44.0098
31.9988

In [1]:
## 100% Angela did this
a ,b,c = 10,12,14
s = (a+b+c)/2
A = (s*(s-a)*(s-b)*(s-c))**(1/2)
print(A)

58.787753826796276

In [5]:
x = [10,2038373837388292929304-4055985548484839281199394945993930349933448904289080248549587-8768759835479876874709879873898679874897398765]
y = [10,78787887878787878787878787820]
z = [x,y]
print(z)

[[10, -4055985548484848049959230425870805059811284429131566853019048], [10, 78787887878787878787878787820]]

In [6]:
import graphics
win = graphics.GraphWin()
win.close()

ModuleNotFoundError: No module named 'graphics'

In [12]:
x = "flowers are pretty"
print(type((((((((((((((((((((x)))))))))))))))))))))

<class 'str'>

In [18]:
x=x.replace("flowers","fruits")

In [19]:
x.replace("pretty", "yummy")

'fruits are yummy'

In [21]:
["fries", "eggs", "hicken", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham"]
vvvv = list(("fries", "eggs", "hicken", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham", "ham"))

In [34]:
x = "apple orange mango pineapple strawberry"
x=x.split()
print(x)

['apple', 'orange', 'mango', 'pineapple', 'strawberry']

In [30]:
x="---".join(x)
print(x)

apple---orange---mango---pineapple---strawberry

In [35]:
x="".join(x)
for each in x:
    print(each,end=" ")

a p p l e o r a n g e m a n g o p i n e a p p l e s t r a w b e r r y

In [49]:
x = "LOVE I ANDY MISTER"
print(x[5:6], x[0:4], x[12:18], x[7:11])
y = x.split()
print(y[1],y[0],y[3],y[2])

I LOVE MISTER ANDY
I LOVE MISTER ANDY

In [53]:
x = "abc "
for each in x:
    x = each*10
x

'          '

In [55]:
x =[1,2,3]
x.append(100)
x.insert(2,"apple")
x

[1, 2, 'apple', 3, 100]

In [57]:
x[1] = "mango"
x

[1, 'mango', 'apple', 3, 100]

In [59]:
x = "apple"
x[0] = "b"

TypeError: 'str' object does not support item assignment

In [60]:
x = ["heart","beats","fast","one step close"]

In [64]:
x = open("apple.txt")
x.readlines()

['andy\n',
 'is \n',
 'a \n',
 'good\n',
 'doctor\n',
 'and \n',
 'engineer\n',
 'and \n',
 'a \n',
 'dumb\n',
 'rat\n',
 'pilot\n',
 'and \n',
 'actor\n',
 'and \n',
 'dancer.']

In [69]:
def add(a,b,c):
    
    roots = (b**2 - 4*a*c)**(1/2)
    x1 = (-b + roots) / 2 * a
    x2 = (-b - roots) / 2 * a
    print("roots are" ,x1,x2)

In [70]:
add(1,5,4)

roots are -1.0 -4.0

In [71]:
add(1,181381,2)

roots are -1.1026510037481785e-05 -181380.9999889735

In [72]:
add(1919191919191919199191919191,2,0)

roots are 0.0 -3.838383838383838e+27

In [85]:
###Homework is make a function that calculates some simple products and divisions
# made by Angela
x = int(input("please enter first positive whole variable"))
y = int(input("please enter second positive whole variable"))
z = int(input("please enter positive whole third variable, if there is none, write 1"))
a = x * y * z
print(a)

1

In [86]:
# made by Angela
x = int(input("please enter first positive whole variable"))
y = int(input("please enter second positive whole variable"))
z = x / y 
print(z)

1.0

In [87]:
def calcu (x,y):
    return x+y,x-y,x*y,x/y,x%y,x**y 

calcu(10,2)

(12, 8, 20, 5.0, 0, 100)

In [90]:
filename = "appendix1.txt"
data = open(filename, "r")
for each in data:
    if "TRANSMEM" in each:
        print(each)

FT   TRANSMEM    122    142       SEGMENT S1 (POTENTIAL).

FT   TRANSMEM    153    173       SEGMENT S2 (POTENTIAL).

FT   TRANSMEM    197    217       SEGMENT S3 (POTENTIAL).

FT   TRANSMEM    226    247       SEGMENT S4 (POTENTIAL).

FT   TRANSMEM    262    282       SEGMENT S5 (POTENTIAL).

FT   TRANSMEM    331    351       SEGMENT S6 (POTENTIAL).

In [98]:
filename = "appendix1.txt"
data = open(filename, "r")

"""
after sequence until //, read


"""


flag = 0
for line in data:
    if flag==0:
        pass
    if flag==1:
        print(line)


    if "SEQUENCE"  in line and "MW;" in line:
        flag = 1

    if "//" in line:
        flag = 0

     MGLKARRAAG AAGGGGDGGG GGGGAANPAG GDAAAAGDEE RKVGLAPGDV EQVTLALGAG

     ADKDGTLLLE GGGRDEGQRR TPQGIGLLAK TPLSRPVKRN NAKYRRIQTL IYDALERPRG

     WALLYHALVF LIVLGCLILA VLTTFKEYET VSGDWLLLLE TFAIFIFGAE FALRIWAAGC

     CCRYKGWRGR LKFARKPLCM LDIFVLIASV PVVAVGNQGN VLATSLRSLR FLQILRMLRM

     DRRGGTWKLL GSAICAHSKE LITAWYIGFL TLILSSFLVY LVEKDVPEVD AQGEEMKEEF

     ETYADALWWG LITLATIGYG DKTPKTWEGR LIAATFSLIG VSFFALPAGI LGSGLALKVQ

     EQHRQKHFEK RRKPAAELIQ AAWRYYATNP NRIDLVATWR FYESVVSFPF FRKEQLEAAS

     SQKLGLLDRV RLSNPRGSNT KGKLFTPLNV DAIEESPSKE PKPVGLNNKE RFRTAFRMKA

     YAFWQSSEDA GTGDPMAEDR GYGNDFPIED MIPTLKAAIR AVRILQFRLY KKKFKETLRP

     YDVKDVIEQY SAGHLDMLSR IKYLQTRIDM IFTPGPPSTP KHKKSQKGSA FTFPSQQSPR

     NEPYVARPST SEIEDQSMMG KFVKVERQVQ DMGKKLDFLV DMHMQHMERL QVQVTEYYPT

     KGTSSPAEAE KKEDNRYSDL KTIICNYSET GPPEPPYSFH QVTIDKVSPY GFFAHDPVNL

     PRGGPSSGKV QATPPSSATT YVERPTVLPI LTLLDSRVSC HSQADLQGPY SDRISPRQRR

     SITRDSDTPL SLMSVNHEEL ERSPSGFSIS QDRDDYVFGP NGGSSWMREK RYLAEGETDT

     DTDPFTPSGS MPLSSTGDGI SDSVWTPSNK PI

//

### lets say if a person parks for 15 hours so he will pay 1 yuan per hour