1 5 9 13 ..... 9th value after this?

In [ ]:
1 5 9 13 ..... 9th value after this

In [3]:
a = 1
for i in range(8):
    print(i*4 + a)

1
5
9
13
17
21
25
29

In [9]:
##1,2,4,8, ..... 11th value
a = 1
for i in range(8):
    a = a * 2
    print(a)

2
4
8
16
32
64
128
256

In [11]:
# Arithmetic sequence
# common differnece 
# 2 5 8 11 14 17 21 ........ what is 30th
# an = a1 + (n-1)* d
a1 = 2
a30 = a1 + (30-1)*3
a30

89

In [13]:
# 1 11 21 31 ...... what is 101th value of this Arithmetic sequence
a = 1 + 100*10
a

1001

In [14]:
# Arithmetic mean, 
# 1, M, 21
M = (1+21)/2
M

11.0

In [15]:
# if i ask you find 3 AM between sequence
#1,M1,M2,M3,9
# tell me M! M2 nd M3 value
m2 = 5
m1 = 3
m3 = 7

#9 = 1 + (4)*d
d = 2

In [25]:
# find two arithmetic mean between 1,A1,A2,19
# a4 = a1 + (3) * d
# 18 = 3d
d = 18/3
d

6.0

In [17]:
# 10,7,4, 1 ,,, find the 26th value of this Arithmetic sequence
m26 = 10 + (26-1) * -3
m26

-65

#### GEometric Sequence

In [19]:
# 3 12 48 ..... 9th value of this geometric progression
# G = a1*(r)**(n-1) # where r is common division
g9 = 3 * 4 ** 8
g9

196608

In [23]:
# Geometric Mean
##G = (a*b)**0.5
#1 , G1, G2, 8
G2 = (1*8)**0.5
G2

2.8284271247461903

In [24]:
#g4 = 1 * (r)**3
#8 = (r)**3
# 2*2*2 = (r)**3
# 2**3 = (r)**3
# r = 2
# G1 = 1 * 2 = 2
# G2 = 2 * 4 = 4
# 1, 2,4,8

In [ ]:
# Hormonic progresion, seuqnce
# 1/2 , 1/4 , 1/6 ....... find h10th value
# tomorrow ?

In [27]:
### Find the sum of first 100 values 
# 1+3+5+7 ........ 100th value
1 + 2 * 99

199

In [28]:
# Sn = (n/2) * (a1 + an)
(100/2) * (1 + 199)
1 + 1

10000.0

In [30]:
(125/2)*(126)

7875.0